.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.73);
}

.remove {
  position: absolute;
  max-width: 222px;
  background: #eee;
  text-align: center;
  margin-top: 10rem;
  padding: 10px 10px;
  left: 50%;
  transform: translate(-50%, 0);

  &__text {
    font-size: 20px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__btn {
    text-transform: uppercase;
    color: #0097f4;
    border: none;
    font-size: 15px;
    background: none;
    width: 86px;
    height: 32px;
    outline: none;

    &:hover {
      background: #0097f4;
      color: #fff;
      -webkit-box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.3);
    }
  }
}
